$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$moz-decoration-color: #2f303a;
$animation-direction: #f5f4fa;
$footer-bg-color: rgba(255, 255, 255, 0.6);
$logo-color: #000000;
$—Åosial-color: #afb1b8;
